<div class="row">
  <div class="col-1 col-md-2 col-lg"></div>
  <div class="col title animated fadeInUp"><i class="material-icons" (click)="back()">chevron_left</i>&nbsp; <span>Salir</span>
  </div>
  <div class="col-1 col-md-2 col-lg"></div>
</div>
<table class="animated jackInTheBox">
  <tr *ngFor="let fila of listaCeldas">
    <td *ngFor="let celda of fila">
      <app-pieza (notificar)="notificacion($event)" [numBomba]="celda.numBomba" [numPieza]="celda.numPieza">
      </app-pieza>
    </td>
  </tr>
</table>