<div style="text-align:center; padding:50px;">
  <span class="neon">Busca</span><span class="flux">minas</span>
</div>
<div class="menu">
  <div class="label">MENU</div>
  <div class="spacer"></div>
  <div class="item"><a [routerLink]="[ '' ]">Inicio</a></div>
  <div class="item"><a [routerLink]="[ '/Game' ]">Jugar</a></div>
  <!--div-- class="item"><span>Puntuaciones</span></!--div-->
  <div class="item"><a [routerLink]="[ '/Info' ]">Info</a></div>
  <div class="item"><a [routerLink]="[ '/About-Me' ]">Sobre mí</a></div>
</div>