.contenido {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.configuracion {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
    background-color: #3b3b3b;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
}

/* Button Llamativo */
.btnInicio::before, .btnInicio::after {
    position: absolute;
    content: '';
    transition: all 0.5s;
  }
  .btnInicio {
    display: inline-block;
    padding: 20px 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    font-size: 4em;
    transition: all 0.5s;
    background-color: #426DFB;
  }
  .btnInicio::before {
    bottom: -15px;
    height: 15px;
    width: 100%;
    left: 8px;
    transform: skewX(45deg);
    background-color: #1041FF;
  }
  .btnInicio::after {
    right: -15px;
    height: 100%;
    width: 15px;
    bottom: -8px;
    transform: skewY(45deg);
    background-color: rgb(13, 53, 212);
  }
  .btnInicio:active {
    margin-left: 10px;
    margin-top: 10px;
  }
  .btnInicio:active::before {
    bottom: -5px;
    height: 5px;
    left: 3px;
  }
  .btnInicio:active::after {
    right: -5px;
    width: 5px;
    bottom: -3px;
  }  