<button class="btnInicio" #btnIniciar (click)="MostrarConfiguracion()">Iniciar Juego</button>

<div class="contenido" #contenido>
</div>

<div class="configuracion" #configuracion style="visibility:hidden">
    <h1>Configuración</h1>
    <hr>
    <form class="form-wrapper">
        <label for="txtNombre" style="color:white">Nombre</label>
        <input [(ngModel)]="namePlayer" type="text" placeholder="Introduce tu nombre" name="txtNombre" id="txtNombre" />
    </form>
    <br>
    <button (click)="StartGameEvent(0)" style="margin:10px; color:white; background-color: green" class="mdl-button  mdl-button--raised">FACIL</button>
    <button (click)="StartGameEvent(1)" style="margin:10px; color:white; background-color: orange" class="mdl-button  mdl-button--raised">NORMAL</button>
    <button (click)="StartGameEvent(2)" style="margin:10px; color:white; background-color: red" class="mdl-button  mdl-button--raised">DIFICIL</button>
    <button style="margin:10px" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"><i class="material-icons">close</i>
        Cancelar</button>
</div>

<div #botonera class="botonera" style="visibility:hidden">
    <h4 style="float: left; margin-left: 20px">Jugador: <b>{{ namePlayer }}</b></h4>
    <h4 style="display: inline-block;">Puntuación: <b>{{ scorePlayer }}</b></h4>
    <h4 style="float: right; margin-right: 20px">Tiempo: <b>{{ timePlayer }}</b></h4>
</div>

<router-outlet></router-outlet>