/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}

td {
    background-color: red;
    border: 2px solid white;
    width: 20px;
    height: 20px;
}
