<div id="gradient" class="d-none d-md-block animated fadeInDown delay-1s"></div>
<div id="card" class="d-none d-md-block animated jackInTheBox delay-2s">
  <img
    src="https://media.licdn.com/dms/image/C4D03AQHQMrfogY78rA/profile-displayphoto-shrink_200_200/0?e=1565827200&v=beta&t=yHDpUVEJ9I8dxUzLHAfe3XNQFzrAy5z5ArurYwVz0_c" />
  <h2>Jorge López Gil</h2>
  <p>Desarrollador Web (Frontend & Backend)</p>
  <p>Apasionado por el mundo 🌎 digital 🌐 y la tecnología 📱</p>
  <p>Programador creativo 💻</p>
  <a href="mailto:wiijlg@hotmail.com" class="left bottom">Contactar</a>
  <a href="https://www.linkedin.com/in/jhorje18/" class="right bottom">Perfil Linkedin</a>
</div>
<div class="mobile">
  <div id="card" class="d-block d-md-none animated jackInTheBox delay-2s">
    <img
      src="https://media.licdn.com/dms/image/C4D03AQHQMrfogY78rA/profile-displayphoto-shrink_200_200/0?e=1565827200&v=beta&t=yHDpUVEJ9I8dxUzLHAfe3XNQFzrAy5z5ArurYwVz0_c" />
    <h2>Jorge López Gil</h2>
    <p>Desarrollador Web (Frontend & Backend)</p>
    <p>Apasionado por el mundo 🌎 digital 🌐 y la tecnología 📱 Programador creativo 💻</p>
    <a href="mailto:wiijlg@hotmail.com" class="left bottom">Contactar</a>
    <a href="https://www.linkedin.com/in/jhorje18/" class="right bottom">Perfil Linkedin</a>
  </div>
</div>